/* File: styles.css */
/* Author: Team Web Dev */
/* Contains the styles for the entire website */

/* Universal Styles */
* {
  font-family: Arial, Helvetica, sans-serif;
}

/* Styles for Header and Navigation */
header {
  padding: 10px 20px;
  margin: 5px;
  background-color: gray;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

header h1 {
  font: 2.5em "Times New Roman", Times, serif;
}

#logo {
  width: 80px;
  height: 80px;
  border-radius: 8px;
  object-fit: cover;
  border: 2px solid lightgray;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin-right: 10px;
}

header nav {
  background-color: lightgray;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

header nav a {
  text-decoration: none;
  color: black;
  padding: 5px;
  margin: 5px;
  border-radius: 8px;
}

header nav a:hover {
  background-color: darkgray;
  color: white;
}

/* Styles for Index */
section {
  padding: 5px 20px;
  margin: 5px;
  border-radius: 8px;
}

#swinova-introduction {
  background-image: url(./images/background-graphic.jpg);
  color: white;
}

/* Styles for Jobs */

/* Styles for About */

/* Styles for Apply */
